img {display: block;
  margin-top: 200px;
margin-right: auto;
margin-left: auto;
padding: 20px;
}
.resizedTextbox {width: 600px; height: 40px;}

div.form {display: block;
  text-align: center;
padding: 20px;}
